<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full min-h-screen bg-zinc-900 text-white p-10">
        <h3 class="text-3xl">Create Account</h3>
        <hr class="my-5">
        <form class="flex flex-wrap gap-5" action="/register" method="post">
            <input class="outline-none border-2 px-3 py-2 bg-transparent border-zinc-800 rounded-lg" type="text" placeholder="Name" name="name">
            <input class="outline-none border-2 px-3 py-2 bg-transparent border-zinc-800 rounded-lg" type="text" placeholder="Username" name="username">
            <input class="outline-none border-2 px-3 py-2 bg-transparent border-zinc-800 rounded-lg" type="number" placeholder="Age" name="age">
            <input class="outline-none border-2 px-3 py-2 bg-transparent border-zinc-800 rounded-lg" type="email" placeholder="Email" name="email">
            <input class="outline-none border-2 px-3 py-2 bg-transparent border-zinc-800 rounded-lg" type="password" placeholder="Password" name="password">
            <input class="bg-blue-500 rounded-lg px-5 py-2" type="submit" value="Create Account">
            <a class="bg-blue-500 rounded-lg px-5 py-2" href="/login">All Ready Created Account? Click here to Login</a>
        </form>
    </div>
</body>
</html>